<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

</head>

<body>
    <div class="top">
        <h2 class="head">Credit Management System</h2>
    </div>
    <div class="content">
        <form action="/changePassword" method="post">

            <div class="form-head">
                <h2 class="login">Change Password</h2>
            </div>
            <br>
            <div class="container">
                <div class="input-group">
                    <input id="uid" type="password" oninput="changeUn()" onfocus="changeUn()" onfocusout="" name="newPassword"/>
                    <div id="user-text">New Password</div>
                </div>
                <br>
                <div class="input-group">
                    <input id="pw" type="password" oninput="changePw()" onfocusout="" name="confirmPassword"/>
                    <div id="pwd-text">Confirm New Password</div>
                </div>
                <div class="style1 check">
                    <p class="auth-head"><b>Password must contain the following:</b></p> 
                    <p id="ll" class="conditions">A <b>lowercase</b> alphabet</p>
                    <p id="ul" class="conditions">A <b>uppercase</b> alphabet</p>
                    <p id="no" class="conditions">A <b>digit</b></p>
                    <p id="m8c" class="conditions">Minimum <b>8 characters</b></p>
                </div>
                <br>
                <br>

                <button class="login-btn" type="submit" name="submit" value="change">Submit</button>
                <button class="login-btn" type="submit" name="submit" value="login">Login</button>
                <h3 class="message_password">
                    <%= message_password %>
                </h3>
            </div>

        </form>
    </div>

    <script src="login/script.js"></script>
</body>

</html>