<html>
    <body>
        <head>
            <title>PROJECT</title>
            <link rel="stylesheet" href="/courses/style.css">
            <script src="/courses/script.js"></script>
        </head>
        
    
    <div class="searching">
        <form>
            <label>search for course</label><br>
            <input type="text" name="course_id" id="inval" placeholder="Course_Code" onkeyup="SearchFun()">
            <input type="submit" name="search" value="search">
        </form>
        
    </div>
    <table id="details">
        <tr>
           
            <th>Course_Id</th>
            <th>Course_Name</th>
            <th>Semester</th>
            <th>Credit</th>
            <th>Select</th>
            
        </tr>
        <tr>
            
            <td>CS202</td>
            <td>DATA STRUCTURE AND ALGORITHM</td>
            <td>3</td>
            <td>4</td>
            <td><input type="checkbox" id="select" name="select" ></td>
            
        </tr>
        <tr>
            
            <td>CS207</td>
            <td>APPLIED DATABASE PRACTICUM</td>
            <td>3</td>
            <td>2</td>
            <td><input type="checkbox" id="select" name="select"></td>
           
        </tr>
        <tr>
            
            <td>IC272</td>
            <td>DATA SCIENCE 3</td>
            <td>3</td>
            <td>3</td>
            <td><input type="checkbox" id="select" name="select"></td>
            
        </tr>
        <tr>
            
            <td>IC240</td>
            <td>MECHANICS OF RIGID BODY</td>
            <td>3</td>
            <td>3</td>
            <td><input type="checkbox" id="select" name="select" ></td>
            
        </tr>
        <tr>
            
            <td>IC260</td>
            <td>SIGNAL AND SYSTEM</td>
            <td>3</td>
            <td>3</td>
            <td><input type="checkbox" id="select" name="select" ></td>
            
        </tr>
        <tr>
            
            <td>CS208</td>
            <td>MATHEMATICAL FOUNDATION OF COMPUTER SCIENCE</td>
            <td>3</td>
            <td>4</td>
            <td><input type="checkbox" id="select" name="select"></td>
           
        </tr>
        <tr>
            
            <td>IC101p</td>
            <td>REVERSE ENGINEERING</td>
            <td>3</td>
            <td>2</td>
            <td><input type="checkbox" id="select" name="select"></td>
            
        </tr>
        <tr>
            
            <td>IC152</td>
            <td>COMPUTING AND DATA SCIENCE</td>
            <td>2</td>
            <td>4</td>
            <td><input type="checkbox" id="select" name="select"></td>
        </tr>
        <tr>
            
            <td>HS342</td>
            <td>GERMAN1</td>
            <td>2</td>
            <td>3</td>
            <td><input type="checkbox" id="select" name="select"></td>
            
        </tr>
        <tr>
            
            <td>IC161P</td>
            <td>APPLIED ELECTRONICS LAB</td>
            <td>2</td>
            <td>2</td>
            <td><input type="checkbox" id="select" name="select"></td>
        </tr>
    </table>

    <br>
    <input type="button" id="add" onclick="ADD()" value="Add">
    <br><br><br>
    <h>selected courses:</h>
    <table id="display">
        <tr>
            
            <th>Course_Id</th>
            <th>Course_Name</th>
            <th>Semester</th>
            <th>Credit</th>
            <th>Select</th>
        </tr> 
    </table>
    <input type="button" id="drop" onclick="DROP()" value="drop">
    </body>
    
</html>
